<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backToMainMap.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,339},{83,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{83,81}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>knowledge.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,85},{79,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{79,81}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,168},{79,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,424},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pauseBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{491,562}}</string>
                <key>sourceSize</key>
                <string>{491,564}</string>
            </dict>
            <key>progressBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{250,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,25}}</string>
                <key>sourceSize</key>
                <string>{250,25}</string>
            </dict>
            <key>progressFill.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,254},{241,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{241,15}}</string>
                <key>sourceSize</key>
                <string>{241,25}</string>
            </dict>
            <key>progressRedBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{250,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,25}}</string>
                <key>sourceSize</key>
                <string>{250,25}</string>
            </dict>
            <key>progressRedfill.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,254},{241,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{241,15}}</string>
                <key>sourceSize</key>
                <string>{241,25}</string>
            </dict>
            <key>reStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,254},{83,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{83,81}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{81,81}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,424},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameBase-hd.pvr.ccz</string>
            <key>size</key>
            <string>{718,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36ac6699e3eacdd6a812c91fae2c7a19:1/1$</string>
            <key>textureFileName</key>
            <string>gameBase-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
