<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Assets</key>
	<array/>
	<key>Music</key>
	<array>
		<string>rubimagebg.mp3</string>
	</array>
	<key>SpriteSheets</key>
	<array>
		<string>wordGameLessonBkg.plist</string>
		<string>wordGameLessonAccessory.plist</string>
		<string>wordGameLessonGas.plist</string>
		<string>wordGameLessonLostBun.plist</string>
		<string>wordGameLessonEatBun.plist</string>
		<string>wordGameLessonKeepRight.plist</string>
		<string>wordGameLessonPigStand.plist</string>
		<string>gameBase.plist</string>
	</array>
	<key>Images</key>
	<array/>
	<key>SoundFX</key>
	<array/>
</dict>
</plist>
