<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bun_gas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{107,190}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{107,190}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>bun_gas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{107,190}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{107,190}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>bun_gas3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{101,192}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{101,192}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>bun_gas4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,390},{103,174}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{103,174}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>bun_gas5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,194}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{111,194}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>bun_gas6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{111,192}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{111,192}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>bun_gas7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,105},{105,190}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{105,190}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
            <key>bun_gas8.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,212},{89,176}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{89,176}}</string>
                <key>sourceSize</key>
                <string>{131,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonGas.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66debd43bad46e34f696eeababfc9d21:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonGas.pvr.ccz</string>
        </dict>
    </dict>
</plist>
