<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigLostBun/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{310,289}}</string>
                <key>offset</key>
                <string>{30,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,36},{310,289}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{310,289}}</string>
                <key>offset</key>
                <string>{30,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,36},{310,289}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{302,293}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{302,293}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{302,293}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{302,293}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{322,301}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,24},{322,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{322,301}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,24},{322,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,301}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{374,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,301}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{374,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{342,297}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{342,297}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{342,297}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{342,297}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{308,287}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{308,287}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{308,287}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{308,287}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{308,287}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{308,287}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{308,287}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{308,287}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigLostBun/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{308,287}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{308,287}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonLostBun-hd.png</string>
            <key>size</key>
            <string>{305,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41ffd70be07aaaf24b94a5302b44a9fa:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonLostBun-hd.png</string>
        </dict>
    </dict>
</plist>
