<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,366},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>bigBun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{80,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>bunTray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{215,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,69}}</string>
                <key>sourceSize</key>
                <string>{215,69}</string>
            </dict>
            <key>smallBun.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,770},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>wordBord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,291}}</string>
                <key>sourceSize</key>
                <string>{227,291}</string>
            </dict>
            <key>wordGrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>wordMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonAccessory.pvr.ccz</string>
            <key>size</key>
            <string>{231,843}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d8bacce8135e9c85d2c33f37db6a494:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonAccessory.pvr.ccz</string>
        </dict>
    </dict>
</plist>
