<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigEatBun/0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{622,582}}</string>
                <key>offset</key>
                <string>{61,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,68},{622,582}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0001</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{622,582}}</string>
                <key>offset</key>
                <string>{61,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,68},{622,582}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0002</key>
            <dict>
                <key>frame</key>
                <string>{{1242,606},{606,586}}</string>
                <key>offset</key>
                <string>{56,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,64},{606,586}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0003</key>
            <dict>
                <key>frame</key>
                <string>{{1242,606},{606,586}}</string>
                <key>offset</key>
                <string>{56,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,64},{606,586}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,608}}</string>
                <key>offset</key>
                <string>{28,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,42},{622,608}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,608}}</string>
                <key>offset</key>
                <string>{28,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,42},{622,608}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0006</key>
            <dict>
                <key>frame</key>
                <string>{{616,1190},{604,590}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,60},{604,590}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0007</key>
            <dict>
                <key>frame</key>
                <string>{{616,1190},{604,590}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,60},{604,590}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0008</key>
            <dict>
                <key>frame</key>
                <string>{{616,1190},{604,590}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,60},{604,590}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0009</key>
            <dict>
                <key>frame</key>
                <string>{{626,586},{614,602}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,48},{614,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0010</key>
            <dict>
                <key>frame</key>
                <string>{{626,586},{614,602}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,48},{614,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0011</key>
            <dict>
                <key>frame</key>
                <string>{{626,586},{614,602}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,48},{614,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0012</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1194},{602,590}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,60},{602,590}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0013</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1194},{602,590}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,60},{602,590}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0014</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1194},{602,590}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,60},{602,590}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0015</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{616,602}}</string>
                <key>offset</key>
                <string>{27,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,48},{616,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0016</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{616,602}}</string>
                <key>offset</key>
                <string>{27,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,48},{616,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0017</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{616,602}}</string>
                <key>offset</key>
                <string>{27,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,48},{616,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{604,588}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,62},{604,588}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{604,588}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,62},{604,588}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{604,588}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,62},{604,588}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{612,602}}</string>
                <key>offset</key>
                <string>{26,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,48},{612,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{612,602}}</string>
                <key>offset</key>
                <string>{26,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,48},{612,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
            <key>pigEatBun/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{612,602}}</string>
                <key>offset</key>
                <string>{26,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,48},{612,602}}</string>
                <key>sourceSize</key>
                <string>{800,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonEatBun-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd66b90c7c337cf63e4f7ade7aee9655:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonEatBun-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
