<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bun_gas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{427,760}}</string>
                <key>offset</key>
                <string>{-48,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{427,760}}</string>
                <key>sourceSize</key>
                <string>{523,776}</string>
            </dict>
            <key>bun_gas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{421,760}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{421,760}}</string>
                <key>sourceSize</key>
                <string>{523,776}</string>
            </dict>
            <key>bun_gas3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,780},{403,764}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,9},{403,764}}</string>
                <key>sourceSize</key>
                <string>{523,776}</string>
            </dict>
            <key>bun_gas4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{401,696}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,80},{401,696}}</string>
                <key>sourceSize</key>
                <string>{523,776}</string>
            </dict>
            <key>bun_gas5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{441,776}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{441,776}}</string>
                <key>sourceSize</key>
                <string>{523,776}</string>
            </dict>
            <key>bun_gas6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{435,766}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,10},{435,766}}</string>
                <key>sourceSize</key>
                <string>{523,776}</string>
            </dict>
            <key>bun_gas7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1546},{415,760}}</string>
                <key>offset</key>
                <string>{32,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,16},{415,760}}</string>
                <key>sourceSize</key>
                <string>{523,776}</string>
            </dict>
            <key>bun_gas8.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,764},{351,700}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{351,700}}</string>
                <key>sourceSize</key>
                <string>{523,776}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonGas-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a657d198c72346c3e79e3dab081d1d9:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonGas-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
