<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigKeepRight/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{302,315}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{302,315}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigKeepRight/0001</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{306,309}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,16},{306,309}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigKeepRight/0002</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{306,309}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,16},{306,309}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigKeepRight/0003</key>
            <dict>
                <key>frame</key>
                <string>{{612,310},{304,305}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{304,305}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigKeepRight/0004</key>
            <dict>
                <key>frame</key>
                <string>{{306,310},{304,305}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{304,305}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigKeepRight/0005</key>
            <dict>
                <key>frame</key>
                <string>{{612,616},{304,287}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{304,287}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigKeepRight/0006</key>
            <dict>
                <key>frame</key>
                <string>{{306,617},{304,287}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{304,287}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigKeepRight/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,315}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{302,315}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonKeepRight-hd.pvr.ccz</string>
            <key>size</key>
            <string>{928,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:380d16f5ecad9dfd370053aa36e11a1e:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonKeepRight-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
