<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigEatBun/0000</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,147}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{156,147}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0001</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,147}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{156,147}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0002</key>
            <dict>
                <key>frame</key>
                <string>{{156,304},{152,147}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{152,147}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0003</key>
            <dict>
                <key>frame</key>
                <string>{{156,304},{152,147}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{152,147}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,153}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{156,153}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,153}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{156,153}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0006</key>
            <dict>
                <key>frame</key>
                <string>{{314,155},{152,149}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{152,149}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0007</key>
            <dict>
                <key>frame</key>
                <string>{{314,155},{152,149}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{152,149}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0008</key>
            <dict>
                <key>frame</key>
                <string>{{314,155},{152,149}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{152,149}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0009</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{154,151}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{154,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0010</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{154,151}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{154,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0011</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{154,151}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{154,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{150,149}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{150,149}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{150,149}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{150,149}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{150,149}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{150,149}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{152,151}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{152,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{152,151}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{152,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{152,151}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{152,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0018</key>
            <dict>
                <key>frame</key>
                <string>{{310,306},{150,147}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{150,147}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0019</key>
            <dict>
                <key>frame</key>
                <string>{{310,306},{150,147}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{150,147}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0020</key>
            <dict>
                <key>frame</key>
                <string>{{310,306},{150,147}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{150,147}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0021</key>
            <dict>
                <key>frame</key>
                <string>{{160,151},{152,151}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{152,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0022</key>
            <dict>
                <key>frame</key>
                <string>{{160,151},{152,151}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{152,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
            <key>pigEatBun/0023</key>
            <dict>
                <key>frame</key>
                <string>{{160,151},{152,151}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{152,151}}</string>
                <key>sourceSize</key>
                <string>{200,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonEatBun.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56983f4645e67e77529204df80fe863e:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonEatBun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
