<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,727},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bigBun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1531},{160,142}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{160,142}}</string>
                <key>sourceSize</key>
                <string>{164,142}</string>
            </dict>
            <key>bunTray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{430,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,138}}</string>
                <key>sourceSize</key>
                <string>{430,138}</string>
            </dict>
            <key>smallBun.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1531},{80,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>wordBord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,583}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,583}}</string>
                <key>sourceSize</key>
                <string>{454,583}</string>
            </dict>
            <key>wordGrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1139},{390,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,391}}</string>
                <key>sourceSize</key>
                <string>{390,391}</string>
            </dict>
            <key>wordMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{410,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,410}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonAccessory-hd.pvr.ccz</string>
            <key>size</key>
            <string>{458,1675}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb0301b4c88a1e3fd4e1facf767a1f33:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonAccessory-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
