<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bun_gas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{214,380}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,380}}</string>
                <key>sourceSize</key>
                <string>{262,388}</string>
            </dict>
            <key>bun_gas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{212,380}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{212,380}}</string>
                <key>sourceSize</key>
                <string>{262,388}</string>
            </dict>
            <key>bun_gas3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,392},{202,382}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{202,382}}</string>
                <key>sourceSize</key>
                <string>{262,388}</string>
            </dict>
            <key>bun_gas4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{202,348}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{202,348}}</string>
                <key>sourceSize</key>
                <string>{262,388}</string>
            </dict>
            <key>bun_gas5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,388}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{222,388}}</string>
                <key>sourceSize</key>
                <string>{262,388}</string>
            </dict>
            <key>bun_gas6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{218,384}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{218,384}}</string>
                <key>sourceSize</key>
                <string>{262,388}</string>
            </dict>
            <key>bun_gas7.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,776},{208,380}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,8},{208,380}}</string>
                <key>sourceSize</key>
                <string>{262,388}</string>
            </dict>
            <key>bun_gas8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,384},{176,350}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,38},{176,350}}</string>
                <key>sourceSize</key>
                <string>{262,388}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonGas-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4b704eb6879d31d97ae0c240e0e3858:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonGas-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
