<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigEatBun/0000</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{312,291}}</string>
                <key>offset</key>
                <string>{30,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{312,291}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0001</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{312,291}}</string>
                <key>offset</key>
                <string>{30,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{312,291}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0002</key>
            <dict>
                <key>frame</key>
                <string>{{626,305},{304,293}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{304,293}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0003</key>
            <dict>
                <key>frame</key>
                <string>{{626,305},{304,293}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{304,293}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,305}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{312,305}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,305}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{312,305}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{302,295}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{302,295}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{302,295}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{302,295}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{302,295}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{302,295}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0009</key>
            <dict>
                <key>frame</key>
                <string>{{316,295},{308,301}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{308,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0010</key>
            <dict>
                <key>frame</key>
                <string>{{316,295},{308,301}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{308,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0011</key>
            <dict>
                <key>frame</key>
                <string>{{316,295},{308,301}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{308,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0012</key>
            <dict>
                <key>frame</key>
                <string>{{310,598},{302,295}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{302,295}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0013</key>
            <dict>
                <key>frame</key>
                <string>{{310,598},{302,295}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{302,295}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0014</key>
            <dict>
                <key>frame</key>
                <string>{{310,598},{302,295}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{302,295}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0015</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{308,301}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{308,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0016</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{308,301}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{308,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0017</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{308,301}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,24},{308,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0018</key>
            <dict>
                <key>frame</key>
                <string>{{614,600},{300,293}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{300,293}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0019</key>
            <dict>
                <key>frame</key>
                <string>{{614,600},{300,293}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{300,293}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0020</key>
            <dict>
                <key>frame</key>
                <string>{{614,600},{300,293}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{300,293}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{306,301}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,24},{306,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{306,301}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,24},{306,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
            <key>pigEatBun/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{306,301}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,24},{306,301}}</string>
                <key>sourceSize</key>
                <string>{400,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordGameLessonEatBun-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a019186a576f5f3d645191d6ba21ebe4:1/1$</string>
            <key>textureFileName</key>
            <string>wordGameLessonEatBun-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
