<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyChase/0000</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{202,286}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,12},{202,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monkeyChase/0001</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{202,286}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,13},{202,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monkeyChase/0002</key>
            <dict>
                <key>frame</key>
                <string>{{582,292},{204,286}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,12},{204,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monkeyChase/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{202,286}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,12},{202,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monkeyChase/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,296}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,2},{210,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monkeyChase/0005</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,290}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,8},{210,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monkeyChase/0006</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{196,288}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,10},{196,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monkeyChase/0007</key>
            <dict>
                <key>frame</key>
                <string>{{290,294},{204,290}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,8},{204,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyChase-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1032,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb2673c67ba98d9f9f48e9474c90d149:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyChase-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
