<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treesAndRoad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{2048,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,732}}</string>
                <key>sourceSize</key>
                <string>{2048,732}</string>
            </dict>
            <key>treesAndRoad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,732}}</string>
                <key>sourceSize</key>
                <string>{2048,732}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameTreesAndRoad-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1470,2052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:846ecbee7b62f0ce67f0d788739eacc5:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameTreesAndRoad-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
