<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treesAndRoad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,748}}</string>
                <key>offset</key>
                <string>{0,-394}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,788},{2048,748}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>treesAndRoad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{2048,734}}</string>
                <key>offset</key>
                <string>{0,-401}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,802},{2048,734}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameTreesAndRoad-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1488,2052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:522057c346b5f1eadb36fbffccfa3624:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameTreesAndRoad-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
