<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{520,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,360}}</string>
                <key>sourceSize</key>
                <string>{520,360}</string>
            </dict>
            <key>cardFront.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,360}}</string>
                <key>sourceSize</key>
                <string>{520,360}</string>
            </dict>
            <key>carddisappear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,428},{30,72}}</string>
                <key>offset</key>
                <string>{4,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,446},{30,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>carddisappear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,274},{106,152}}</string>
                <key>offset</key>
                <string>{4,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,373},{106,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>carddisappear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,850},{206,254}}</string>
                <key>offset</key>
                <string>{10,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,242},{206,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>carddisappear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{328,360}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,108},{328,360}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>carddisappear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{492,342}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,125},{492,342}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>carddisappear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,524},{460,324}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,134},{460,324}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>carddisappear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,850},{396,242}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,153},{396,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{270,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,123}}</string>
                <key>sourceSize</key>
                <string>{270,123}</string>
            </dict>
            <key>ico_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,708},{160,134}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameScene-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1011,1124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27922df6ec97aecf6e62209f15c3cd8a:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameScene-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
