<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treesAndRoad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,188}}</string>
                <key>offset</key>
                <string>{0,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,196},{512,188}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>treesAndRoad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,184}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{512,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameTreesAndRoad.pvr.ccz</string>
            <key>size</key>
            <string>{1030,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e234978efd6d2f3b2d5f79df137cd5:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameTreesAndRoad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
