<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monsterFly/0000</key>
            <dict>
                <key>frame</key>
                <string>{{1114,756},{254,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{254,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0001</key>
            <dict>
                <key>frame</key>
                <string>{{558,754},{252,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{252,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0002</key>
            <dict>
                <key>frame</key>
                <string>{{280,754},{252,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{252,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0003</key>
            <dict>
                <key>frame</key>
                <string>{{840,502},{250,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{250,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0004</key>
            <dict>
                <key>frame</key>
                <string>{{1122,252},{248,276}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,18},{248,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{248,278}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0006</key>
            <dict>
                <key>frame</key>
                <string>{{842,252},{248,278}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0007</key>
            <dict>
                <key>frame</key>
                <string>{{562,252},{248,278}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0008</key>
            <dict>
                <key>frame</key>
                <string>{{282,252},{248,278}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{248,278}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0010</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{248,278}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0011</key>
            <dict>
                <key>frame</key>
                <string>{{560,502},{250,278}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{250,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0012</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{248,278}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0013</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{248,278}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0014</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{248,278}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{248,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,276}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,18},{248,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0016</key>
            <dict>
                <key>frame</key>
                <string>{{282,502},{250,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{250,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{252,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{252,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0018</key>
            <dict>
                <key>frame</key>
                <string>{{1118,502},{252,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{252,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monsterFly/0019</key>
            <dict>
                <key>frame</key>
                <string>{{836,754},{254,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{254,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonsterFly-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1400,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e7a04b7cfb952606619ded8291cd152:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonsterFly-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
