<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountains.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2022,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2022,451}}</string>
                <key>sourceSize</key>
                <string>{2022,451}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMountains-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2026,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f98fa10b579c8a6deda62635ee4a512a:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMountains-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
