<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyChase/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{102,144}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{102,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>monkeyChase/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{102,144}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{102,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>monkeyChase/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{104,144}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{104,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>monkeyChase/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{102,144}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{102,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>monkeyChase/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,148}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{106,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>monkeyChase/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{106,146}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{106,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>monkeyChase/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{98,144}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{98,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>monkeyChase/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{102,146}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{102,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyChase-hd.pvr.ccz</string>
            <key>size</key>
            <string>{110,1178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:145597aef2c8dc3122572e02f8f725d7:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyChase-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
