<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnredo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,2},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>btnspeaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,32},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>ico_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1884},{145,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,121}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>plank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,856},{997,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{997,299}}</string>
                <key>sourceSize</key>
                <string>{997,299}</string>
            </dict>
            <key>plank_destroy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{1052,408}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,62},{1052,408}}</string>
                <key>sourceSize</key>
                <string>{1098,658}</string>
            </dict>
            <key>plank_destroy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1064,432}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,90},{1064,432}}</string>
                <key>sourceSize</key>
                <string>{1098,658}</string>
            </dict>
            <key>plank_destroy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,856},{1026,376}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,154},{1026,376}}</string>
                <key>sourceSize</key>
                <string>{1098,658}</string>
            </dict>
            <key>plank_destroy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{1048,376}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,154},{1048,376}}</string>
                <key>sourceSize</key>
                <string>{1098,658}</string>
            </dict>
            <key>plank_destroy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,856},{1012,266}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,260},{1012,266}}</string>
                <key>sourceSize</key>
                <string>{1098,658}</string>
            </dict>
            <key>sub_plank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1224},{230,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,195}}</string>
                <key>sourceSize</key>
                <string>{230,195}</string>
            </dict>
            <key>sub_plank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1427},{315,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,193}}</string>
                <key>sourceSize</key>
                <string>{315,193}</string>
            </dict>
            <key>sub_plank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1421},{375,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,202}}</string>
                <key>sourceSize</key>
                <string>{375,202}</string>
            </dict>
            <key>sub_plank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1224},{449,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,201}}</string>
                <key>sourceSize</key>
                <string>{449,201}</string>
            </dict>
            <key>sub_tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{950,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,852}}</string>
                <key>sourceSize</key>
                <string>{950,852}</string>
            </dict>
            <key>sub_tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{744,302}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{744,302}}</string>
                <key>sourceSize</key>
                <string>{950,302}</string>
            </dict>
            <key>tower_plank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1970},{241,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,57}}</string>
                <key>sourceSize</key>
                <string>{241,57}</string>
            </dict>
            <key>tower_plank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1970},{205,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{205,63}}</string>
                <key>sourceSize</key>
                <string>{207,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sentenceGameTower-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21e1840559a77d3d624057d45c06329b:1/1$</string>
            <key>textureFileName</key>
            <string>sentenceGameTower-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
