<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnredo.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,501},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>btnspeaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>ico_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,479},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>plank.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,218},{249,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,75}}</string>
                <key>sourceSize</key>
                <string>{249,75}</string>
            </dict>
            <key>plank_destroy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{265,103}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{265,103}}</string>
                <key>sourceSize</key>
                <string>{275,165}</string>
            </dict>
            <key>plank_destroy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,109}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{267,109}}</string>
                <key>sourceSize</key>
                <string>{275,165}</string>
            </dict>
            <key>plank_destroy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,218},{259,95}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,38},{259,95}}</string>
                <key>sourceSize</key>
                <string>{275,165}</string>
            </dict>
            <key>plank_destroy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{263,95}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,38},{263,95}}</string>
                <key>sourceSize</key>
                <string>{275,165}</string>
            </dict>
            <key>plank_destroy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,218},{255,67}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,65},{255,67}}</string>
                <key>sourceSize</key>
                <string>{275,165}</string>
            </dict>
            <key>sub_plank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,363},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
            <key>sub_plank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,313},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>sub_plank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,217},{94,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,51}}</string>
                <key>sourceSize</key>
                <string>{94,51}</string>
            </dict>
            <key>sub_plank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,217},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>sub_tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{238,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,213}}</string>
                <key>sourceSize</key>
                <string>{238,213}</string>
            </dict>
            <key>sub_tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,313},{188,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{188,76}}</string>
                <key>sourceSize</key>
                <string>{238,76}</string>
            </dict>
            <key>tower_plank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,483},{60,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,14}}</string>
                <key>sourceSize</key>
                <string>{60,14}</string>
            </dict>
            <key>tower_plank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sentenceGameTower.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694e7cb9fe2a2e122cd4aba88c37c18c:1/1$</string>
            <key>textureFileName</key>
            <string>sentenceGameTower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
