<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnredo.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,992},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>btnspeaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1008},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>ico_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,945},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>plank.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,430},{499,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,150}}</string>
                <key>sourceSize</key>
                <string>{499,150}</string>
            </dict>
            <key>plank_destroy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{527,205}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{527,205}}</string>
                <key>sourceSize</key>
                <string>{549,329}</string>
            </dict>
            <key>plank_destroy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,217}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{533,217}}</string>
                <key>sourceSize</key>
                <string>{549,329}</string>
            </dict>
            <key>plank_destroy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,430},{513,187}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,78},{513,187}}</string>
                <key>sourceSize</key>
                <string>{549,329}</string>
            </dict>
            <key>plank_destroy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{525,187}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,78},{525,187}}</string>
                <key>sourceSize</key>
                <string>{549,329}</string>
            </dict>
            <key>plank_destroy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,430},{507,133}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,130},{507,133}}</string>
                <key>sourceSize</key>
                <string>{549,329}</string>
            </dict>
            <key>sub_plank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,720},{115,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,98}}</string>
                <key>sourceSize</key>
                <string>{115,98}</string>
            </dict>
            <key>sub_plank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,617},{156,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,97}}</string>
                <key>sourceSize</key>
                <string>{158,97}</string>
            </dict>
            <key>sub_plank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,617},{188,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,101}}</string>
                <key>sourceSize</key>
                <string>{188,101}</string>
            </dict>
            <key>sub_plank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,716},{225,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,101}}</string>
                <key>sourceSize</key>
                <string>{225,101}</string>
            </dict>
            <key>sub_tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{475,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,426}}</string>
                <key>sourceSize</key>
                <string>{475,426}</string>
            </dict>
            <key>sub_tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{373,151}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{373,151}}</string>
                <key>sourceSize</key>
                <string>{475,151}</string>
            </dict>
            <key>tower_plank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{121,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,29}}</string>
                <key>sourceSize</key>
                <string>{121,29}</string>
            </dict>
            <key>tower_plank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,945},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sentenceGameTower-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55292eab1b498f4428ccfa023a19707c:1/1$</string>
            <key>textureFileName</key>
            <string>sentenceGameTower-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
