<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,759},{226,77}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{226,77}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{244,119}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{244,119}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,759},{226,77}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{226,77}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{226,79}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,45},{226,79}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{226,79}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{226,79}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{226,87}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{226,87}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{232,101}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{232,101}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{244,113}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{244,113}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,121}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{246,121}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{244,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{244,123}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong1.pvr.ccz</string>
            <key>size</key>
            <string>{250,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5914e392da052a19e9d6b98f6c730f1d:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
