<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyKeepRight/0002</key>
            <dict>
                <key>frame</key>
                <string>{{988,1232},{962,352}}</string>
                <key>offset</key>
                <string>{87,-287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,611},{962,352}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1066,506}}</string>
                <key>offset</key>
                <string>{33,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,457},{1066,506}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,1518},{918,510}}</string>
                <key>offset</key>
                <string>{133,-208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,453},{918,510}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{984,334}}</string>
                <key>offset</key>
                <string>{172,-296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,629},{984,334}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{984,334}}</string>
                <key>offset</key>
                <string>{172,-296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,629},{984,334}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0025</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{892,948}}</string>
                <key>offset</key>
                <string>{126,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,15},{892,948}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0029</key>
            <dict>
                <key>frame</key>
                <string>{{988,896},{984,334}}</string>
                <key>offset</key>
                <string>{172,-296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,629},{984,334}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{984,334}}</string>
                <key>offset</key>
                <string>{172,-296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,629},{984,334}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0038</key>
            <dict>
                <key>frame</key>
                <string>{{922,1586},{946,414}}</string>
                <key>offset</key>
                <string>{149,-256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,549},{946,414}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyKeepRight3-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2020,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e5e784173b802728c3239312d2f311:4/6$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyKeepRight3-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
