<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyKeepRight/0004</key>
            <dict>
                <key>frame</key>
                <string>{{766,810},{1042,470}}</string>
                <key>offset</key>
                <string>{46,-228}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,493},{1042,470}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{1226,762}}</string>
                <key>offset</key>
                <string>{-49,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,201},{1226,762}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1256,806}}</string>
                <key>offset</key>
                <string>{-65,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,157},{1256,806}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0020</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{890,782}}</string>
                <key>offset</key>
                <string>{124,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,181},{890,782}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0027</key>
            <dict>
                <key>frame</key>
                <string>{{1238,894},{882,784}}</string>
                <key>offset</key>
                <string>{123,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,180},{882,784}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyKeepRight0-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2044,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e5e784173b802728c3239312d2f311:1/6$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyKeepRight0-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
