<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyKeepRight/0000</key>
            <dict>
                <key>frame</key>
                <string>{{900,990},{454,148}}</string>
                <key>offset</key>
                <string>{58,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,334},{454,148}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{454,144}}</string>
                <key>offset</key>
                <string>{57,-160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,338},{454,144}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0011</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{442,474}}</string>
                <key>offset</key>
                <string>{62,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,8},{442,474}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{446,468}}</string>
                <key>offset</key>
                <string>{60,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,14},{446,468}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0013</key>
            <dict>
                <key>frame</key>
                <string>{{452,872},{444,392}}</string>
                <key>offset</key>
                <string>{61,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,90},{444,392}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0015</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{492,168}}</string>
                <key>offset</key>
                <string>{86,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,314},{492,168}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0016</key>
            <dict>
                <key>frame</key>
                <string>{{894,496},{492,168}}</string>
                <key>offset</key>
                <string>{86,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,314},{492,168}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,474}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,8},{446,474}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{448,468}}</string>
                <key>offset</key>
                <string>{61,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,14},{448,468}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{446,474}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,8},{446,474}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0026</key>
            <dict>
                <key>frame</key>
                <string>{{452,1318},{446,468}}</string>
                <key>offset</key>
                <string>{60,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,14},{446,468}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0027</key>
            <dict>
                <key>frame</key>
                <string>{{450,478},{442,392}}</string>
                <key>offset</key>
                <string>{61,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,90},{442,392}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0032</key>
            <dict>
                <key>frame</key>
                <string>{{458,1788},{446,160}}</string>
                <key>offset</key>
                <string>{63,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,322},{446,160}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0039</key>
            <dict>
                <key>frame</key>
                <string>{{906,1446},{446,144}}</string>
                <key>offset</key>
                <string>{61,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,338},{446,144}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyKeepRight1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1064,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53c6c046094435784ab006440c554841:2/2$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyKeepRight1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
