<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyKeepRight/0000</key>
            <dict>
                <key>frame</key>
                <string>{{506,1402},{228,74}}</string>
                <key>offset</key>
                <string>{29,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,167},{228,74}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0001</key>
            <dict>
                <key>frame</key>
                <string>{{664,728},{228,72}}</string>
                <key>offset</key>
                <string>{28,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,169},{228,72}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0002</key>
            <dict>
                <key>frame</key>
                <string>{{228,1840},{242,88}}</string>
                <key>offset</key>
                <string>{21,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,153},{242,88}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{246,96}}</string>
                <key>offset</key>
                <string>{19,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,145},{246,96}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0004</key>
            <dict>
                <key>frame</key>
                <string>{{176,854},{262,118}}</string>
                <key>offset</key>
                <string>{11,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,123},{262,118}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{268,128}}</string>
                <key>offset</key>
                <string>{8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,113},{268,128}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{282,152}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,89},{282,152}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{298,172}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,69},{298,172}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0008</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{308,192}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,49},{308,192}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,202}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{314,202}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{294,214}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{294,214}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0011</key>
            <dict>
                <key>frame</key>
                <string>{{386,524},{222,238}}</string>
                <key>offset</key>
                <string>{31,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,3},{222,238}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0012</key>
            <dict>
                <key>frame</key>
                <string>{{298,748},{224,234}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,7},{224,234}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0013</key>
            <dict>
                <key>frame</key>
                <string>{{532,980},{222,196}}</string>
                <key>offset</key>
                <string>{31,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,45},{222,196}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0014</key>
            <dict>
                <key>frame</key>
                <string>{{534,748},{230,128}}</string>
                <key>offset</key>
                <string>{33,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,113},{230,128}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0015</key>
            <dict>
                <key>frame</key>
                <string>{{300,206},{246,84}}</string>
                <key>offset</key>
                <string>{43,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,157},{246,84}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0016</key>
            <dict>
                <key>frame</key>
                <string>{{300,454},{246,84}}</string>
                <key>offset</key>
                <string>{43,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,157},{246,84}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{296,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{296,214}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,1708},{224,238}}</string>
                <key>offset</key>
                <string>{31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,3},{224,238}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0019</key>
            <dict>
                <key>frame</key>
                <string>{{296,974},{224,234}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,7},{224,234}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0020</key>
            <dict>
                <key>frame</key>
                <string>{{248,1426},{224,196}}</string>
                <key>offset</key>
                <string>{31,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,45},{224,196}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0021</key>
            <dict>
                <key>frame</key>
                <string>{{228,1710},{230,128}}</string>
                <key>offset</key>
                <string>{33,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,113},{230,128}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0022</key>
            <dict>
                <key>frame</key>
                <string>{{626,480},{246,84}}</string>
                <key>offset</key>
                <string>{43,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,157},{246,84}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0023</key>
            <dict>
                <key>frame</key>
                <string>{{248,1624},{246,84}}</string>
                <key>offset</key>
                <string>{43,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,157},{246,84}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{296,214}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{296,214}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0025</key>
            <dict>
                <key>frame</key>
                <string>{{386,196},{224,238}}</string>
                <key>offset</key>
                <string>{31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,3},{224,238}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0026</key>
            <dict>
                <key>frame</key>
                <string>{{270,1200},{224,234}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,7},{224,234}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0027</key>
            <dict>
                <key>frame</key>
                <string>{{506,1204},{222,196}}</string>
                <key>offset</key>
                <string>{30,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,45},{222,196}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0028</key>
            <dict>
                <key>frame</key>
                <string>{{474,1478},{230,128}}</string>
                <key>offset</key>
                <string>{33,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,113},{230,128}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0029</key>
            <dict>
                <key>frame</key>
                <string>{{472,1776},{246,84}}</string>
                <key>offset</key>
                <string>{43,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,157},{246,84}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0030</key>
            <dict>
                <key>frame</key>
                <string>{{476,1862},{246,84}}</string>
                <key>offset</key>
                <string>{43,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,157},{246,84}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0031</key>
            <dict>
                <key>frame</key>
                <string>{{496,1608},{232,84}}</string>
                <key>offset</key>
                <string>{34,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,157},{232,84}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0032</key>
            <dict>
                <key>frame</key>
                <string>{{496,1694},{224,80}}</string>
                <key>offset</key>
                <string>{31,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,161},{224,80}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0033</key>
            <dict>
                <key>frame</key>
                <string>{{386,436},{224,86}}</string>
                <key>offset</key>
                <string>{31,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,155},{224,86}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0034</key>
            <dict>
                <key>frame</key>
                <string>{{250,1930},{224,94}}</string>
                <key>offset</key>
                <string>{31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,147},{224,94}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0035</key>
            <dict>
                <key>frame</key>
                <string>{{612,242},{236,102}}</string>
                <key>offset</key>
                <string>{37,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,139},{236,102}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0036</key>
            <dict>
                <key>frame</key>
                <string>{{132,1438},{250,114}}</string>
                <key>offset</key>
                <string>{41,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,127},{250,114}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0037</key>
            <dict>
                <key>frame</key>
                <string>{{156,1154},{248,112}}</string>
                <key>offset</key>
                <string>{42,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,129},{248,112}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0038</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{238,104}}</string>
                <key>offset</key>
                <string>{37,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,137},{238,104}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>monkeyKeepRight/0039</key>
            <dict>
                <key>frame</key>
                <string>{{476,1948},{224,72}}</string>
                <key>offset</key>
                <string>{30,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,169},{224,72}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyKeepRight0.pvr.ccz</string>
            <key>size</key>
            <string>{739,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8102d3816436f1558957aace37e96249:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyKeepRight0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
