<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyKeepRight/0001</key>
            <dict>
                <key>frame</key>
                <string>{{988,412},{906,286}}</string>
                <key>offset</key>
                <string>{115,-320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,677},{906,286}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{980,382}}</string>
                <key>offset</key>
                <string>{77,-273}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,582},{980,382}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{984,334}}</string>
                <key>offset</key>
                <string>{172,-296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,629},{984,334}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{984,334}}</string>
                <key>offset</key>
                <string>{172,-296}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,629},{984,334}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{892,948}}</string>
                <key>offset</key>
                <string>{126,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,15},{892,948}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0032</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1072},{892,318}}</string>
                <key>offset</key>
                <string>{126,-304}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,645},{892,318}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0033</key>
            <dict>
                <key>frame</key>
                <string>{{952,1072},{892,338}}</string>
                <key>offset</key>
                <string>{126,-294}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,625},{892,338}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0034</key>
            <dict>
                <key>frame</key>
                <string>{{984,700},{896,370}}</string>
                <key>offset</key>
                <string>{124,-278}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,593},{896,370}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0035</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{938,408}}</string>
                <key>offset</key>
                <string>{151,-260}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,556},{938,408}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0039</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1072},{892,286}}</string>
                <key>offset</key>
                <string>{122,-320}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,677},{892,286}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyKeepRight4-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1928,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e5e784173b802728c3239312d2f311:5/6$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyKeepRight4-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
