<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1072},{898,300}}</string>
                <key>offset</key>
                <string>{26,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,197},{898,300}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{974,472}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{974,472}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1072},{898,298}}</string>
                <key>offset</key>
                <string>{26,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,199},{898,298}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,350},{898,316}}</string>
                <key>offset</key>
                <string>{29,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,180},{898,316}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1072},{896,316}}</string>
                <key>offset</key>
                <string>{30,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,180},{896,316}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{904,346}}</string>
                <key>offset</key>
                <string>{24,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,153},{904,346}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong6.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,668},{922,402}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,97},{922,402}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{970,446}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{970,446}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{982,476}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{982,476}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{976,490}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{976,490}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1904,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8658829627414159981450bb8feb71d1:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
