<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong/0005</key>
            <dict>
                <key>frame</key>
                <string>{{972,1254},{924,402}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,97},{924,402}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{970,446}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{970,446}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0010</key>
            <dict>
                <key>frame</key>
                <string>{{924,1706},{914,338}}</string>
                <key>offset</key>
                <string>{38,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,158},{914,338}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0012</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{944,398}}</string>
                <key>offset</key>
                <string>{26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,98},{944,398}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{968,448}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{968,448}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{920,338}}</string>
                <key>offset</key>
                <string>{38,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,158},{920,338}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0019</key>
            <dict>
                <key>frame</key>
                <string>{{978,402},{942,398}}</string>
                <key>offset</key>
                <string>{24,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,98},{942,398}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0020</key>
            <dict>
                <key>frame</key>
                <string>{{974,802},{968,450}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{968,450}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{974,470}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{974,470}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{924,332}}</string>
                <key>offset</key>
                <string>{38,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,162},{924,332}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1944,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d966e69b7506d80001f16faee7cad2e7:2/4$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
