<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyKeepRight/0000</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1402},{908,294}}</string>
                <key>offset</key>
                <string>{115,-316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,669},{908,294}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{1122,604}}</string>
                <key>offset</key>
                <string>{4,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,359},{1122,604}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1170,854}}</string>
                <key>offset</key>
                <string>{-21,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,109},{1170,854}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0013</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{886,782}}</string>
                <key>offset</key>
                <string>{123,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,181},{886,782}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{918,510}}</string>
                <key>offset</key>
                <string>{133,-208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,453},{918,510}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0028</key>
            <dict>
                <key>frame</key>
                <string>{{1126,890},{918,510}}</string>
                <key>offset</key>
                <string>{133,-208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,453},{918,510}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0031</key>
            <dict>
                <key>frame</key>
                <string>{{922,1698},{920,330}}</string>
                <key>offset</key>
                <string>{137,-298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,633},{920,330}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyKeepRight2-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2047,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e5e784173b802728c3239312d2f311:3/6$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyKeepRight2-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
