<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump/0000</key>
            <dict>
                <key>frame</key>
                <string>{{300,950},{896,286}}</string>
                <key>offset</key>
                <string>{-8,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,295},{896,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0001</key>
            <dict>
                <key>frame</key>
                <string>{{588,950},{896,286}}</string>
                <key>offset</key>
                <string>{-8,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,296},{896,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0004</key>
            <dict>
                <key>frame</key>
                <string>{{1168,580},{864,380}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,199},{864,380}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{922,380}}</string>
                <key>offset</key>
                <string>{-24,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,199},{922,380}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{940,564}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{940,564}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0011</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{936,576}}</string>
                <key>offset</key>
                <string>{-32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{936,576}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0016</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1552},{444,378}}</string>
                <key>offset</key>
                <string>{251,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{554,205},{444,378}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0017</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1552},{444,378}}</string>
                <key>offset</key>
                <string>{251,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{554,205},{444,378}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0020</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1254},{538,296}}</string>
                <key>offset</key>
                <string>{171,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,285},{538,296}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0022</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1254},{702,288}}</string>
                <key>offset</key>
                <string>{88,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,293},{702,288}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0023</key>
            <dict>
                <key>frame</key>
                <string>{{1168,962},{796,290}}</string>
                <key>offset</key>
                <string>{40,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,291},{796,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0036</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{896,296}}</string>
                <key>offset</key>
                <string>{-9,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,285},{896,296}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0037</key>
            <dict>
                <key>frame</key>
                <string>{{876,950},{894,290}}</string>
                <key>offset</key>
                <string>{-8,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,291},{894,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2034,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:923d0001a10099f82114d65e634109a4:2/4$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
