<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump19.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{125,76}}</string>
                <key>offset</key>
                <string>{52,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,70},{125,76}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
            <key>monkeyJump20.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{125,76}}</string>
                <key>offset</key>
                <string>{52,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,70},{125,76}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
            <key>monkeyJump21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,76}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,70},{193,76}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
            <key>monkeyJump22.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{157,74}}</string>
                <key>offset</key>
                <string>{32,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,72},{157,74}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
            <key>monkeyJump23.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{177,74}}</string>
                <key>offset</key>
                <string>{22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,72},{177,74}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
            <key>monkeyJump24.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{201,74}}</string>
                <key>offset</key>
                <string>{10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,72},{201,74}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
            <key>monkeyJump25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{225,72}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,74},{225,72}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
            <key>monkeyJump26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,2},{223,72}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,74},{223,72}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
            <key>monkeyJump27.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{223,74}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,72},{223,74}}</string>
                <key>sourceSize</key>
                <string>{263,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump3.pvr.ccz</string>
            <key>size</key>
            <string>{1542,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b16ab7945dcd2651828df7baf409b26:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
