<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyKeepRight/0002</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1302},{482,176}}</string>
                <key>offset</key>
                <string>{43,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,306},{482,176}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0003</key>
            <dict>
                <key>frame</key>
                <string>{{1110,834},{492,192}}</string>
                <key>offset</key>
                <string>{38,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,290},{492,192}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0004</key>
            <dict>
                <key>frame</key>
                <string>{{594,408},{522,236}}</string>
                <key>offset</key>
                <string>{23,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,246},{522,236}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0005</key>
            <dict>
                <key>frame</key>
                <string>{{1248,346},{534,254}}</string>
                <key>offset</key>
                <string>{16,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,228},{534,254}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,1698},{562,304}}</string>
                <key>offset</key>
                <string>{2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,178},{562,304}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0007</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{592,342}}</string>
                <key>offset</key>
                <string>{-13,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,140},{592,342}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0008</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{614,382}}</string>
                <key>offset</key>
                <string>{-25,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,100},{614,382}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,404}}</string>
                <key>offset</key>
                <string>{-32,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,78},{628,404}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{586,428}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{586,428}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0014</key>
            <dict>
                <key>frame</key>
                <string>{{594,932},{460,256}}</string>
                <key>offset</key>
                <string>{66,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,226},{460,256}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{590,428}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{590,428}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0020</key>
            <dict>
                <key>frame</key>
                <string>{{832,386},{446,392}}</string>
                <key>offset</key>
                <string>{62,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,90},{446,392}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0021</key>
            <dict>
                <key>frame</key>
                <string>{{852,834},{460,256}}</string>
                <key>offset</key>
                <string>{66,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,226},{460,256}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0022</key>
            <dict>
                <key>frame</key>
                <string>{{814,1394},{492,168}}</string>
                <key>offset</key>
                <string>{86,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,314},{492,168}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0023</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1328},{492,168}}</string>
                <key>offset</key>
                <string>{86,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,314},{492,168}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{590,428}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{590,428}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0028</key>
            <dict>
                <key>frame</key>
                <string>{{1304,830},{460,256}}</string>
                <key>offset</key>
                <string>{66,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,226},{460,256}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0029</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1292},{492,168}}</string>
                <key>offset</key>
                <string>{86,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,314},{492,168}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0030</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1302},{492,168}}</string>
                <key>offset</key>
                <string>{86,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,314},{492,168}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0031</key>
            <dict>
                <key>frame</key>
                <string>{{1768,602},{462,166}}</string>
                <key>offset</key>
                <string>{68,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,316},{462,166}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0033</key>
            <dict>
                <key>frame</key>
                <string>{{984,1822},{446,170}}</string>
                <key>offset</key>
                <string>{63,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,312},{446,170}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0034</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1796},{448,186}}</string>
                <key>offset</key>
                <string>{62,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,296},{448,186}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0035</key>
            <dict>
                <key>frame</key>
                <string>{{1562,830},{470,204}}</string>
                <key>offset</key>
                <string>{75,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,278},{470,204}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0036</key>
            <dict>
                <key>frame</key>
                <string>{{1226,602},{496,226}}</string>
                <key>offset</key>
                <string>{83,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,256},{496,226}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0037</key>
            <dict>
                <key>frame</key>
                <string>{{590,1394},{494,222}}</string>
                <key>offset</key>
                <string>{84,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,260},{494,222}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>monkeyKeepRight/0038</key>
            <dict>
                <key>frame</key>
                <string>{{984,1328},{474,208}}</string>
                <key>offset</key>
                <string>{74,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,274},{474,208}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyKeepRight0-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1936,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53c6c046094435784ab006440c554841:1/2$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyKeepRight0-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
