<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1538},{458,170}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,78},{458,170}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{458,172}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,76},{458,172}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{472,200}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{472,200}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{484,224}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{484,224}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{490,240}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{490,240}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{496,246}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{496,238}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{496,238}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong18.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1538},{460,170}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,78},{460,170}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{458,174}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,75},{458,174}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{472,200}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{472,200}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{520,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fafd5cc0e8e2d942b91a46a698185cf1:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
