<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyKeepRight/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{1182,684}}</string>
                <key>offset</key>
                <string>{-26,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,279},{1182,684}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0017</key>
            <dict>
                <key>frame</key>
                <string>{{1186,456},{1178,854}}</string>
                <key>offset</key>
                <string>{-17,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,109},{1178,854}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{1178,854}}</string>
                <key>offset</key>
                <string>{-17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,109},{1178,854}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0036</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{990,452}}</string>
                <key>offset</key>
                <string>{166,-237}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,511},{990,452}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
            <key>monkeyKeepRight/0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{988,444}}</string>
                <key>offset</key>
                <string>{168,-241}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,519},{988,444}}</string>
                <key>sourceSize</key>
                <string>{1400,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyKeepRight1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2042,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e5e784173b802728c3239312d2f311:2/6$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyKeepRight1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
