<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong/0000</key>
            <dict>
                <key>frame</key>
                <string>{{1452,944},{450,150}}</string>
                <key>offset</key>
                <string>{13,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,98},{450,150}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0001</key>
            <dict>
                <key>frame</key>
                <string>{{922,1350},{450,150}}</string>
                <key>offset</key>
                <string>{13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,98},{450,150}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0002</key>
            <dict>
                <key>frame</key>
                <string>{{802,1506},{450,158}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,90},{450,158}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0003</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1502},{448,158}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,90},{448,158}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0004</key>
            <dict>
                <key>frame</key>
                <string>{{462,1506},{454,174}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,76},{454,174}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0005</key>
            <dict>
                <key>frame</key>
                <string>{{966,1146},{462,202}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{462,202}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0006</key>
            <dict>
                <key>frame</key>
                <string>{{984,490},{486,224}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{486,224}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0007</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{492,238}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{492,238}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0008</key>
            <dict>
                <key>frame</key>
                <string>{{992,242},{488,246}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{488,246}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{488,236}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{488,236}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{458,170}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,78},{458,170}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{458,172}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{458,172}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0012</key>
            <dict>
                <key>frame</key>
                <string>{{978,944},{472,200}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{472,200}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0013</key>
            <dict>
                <key>frame</key>
                <string>{{492,732},{484,224}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{484,224}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0014</key>
            <dict>
                <key>frame</key>
                <string>{{500,242},{490,240}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{490,240}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{496,246}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0016</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{496,238}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{496,238}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0017</key>
            <dict>
                <key>frame</key>
                <string>{{466,1160},{460,170}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,78},{460,170}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0018</key>
            <dict>
                <key>frame</key>
                <string>{{462,1332},{458,172}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{458,172}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0019</key>
            <dict>
                <key>frame</key>
                <string>{{492,958},{472,200}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{472,200}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0020</key>
            <dict>
                <key>frame</key>
                <string>{{984,716},{484,226}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{484,226}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{490,240}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{490,240}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0022</key>
            <dict>
                <key>frame</key>
                <string>{{494,484},{488,246}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{488,246}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{488,236}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{488,236}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{462,166}}</string>
                <key>offset</key>
                <string>{19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,81},{462,166}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{462,166}}</string>
                <key>offset</key>
                <string>{19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,81},{462,166}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0026</key>
            <dict>
                <key>frame</key>
                <string>{{638,1506},{450,162}}</string>
                <key>offset</key>
                <string>{14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,85},{450,162}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0027</key>
            <dict>
                <key>frame</key>
                <string>{{962,1502},{448,162}}</string>
                <key>offset</key>
                <string>{15,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,85},{448,162}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{454,158}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,89},{454,158}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{452,158}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,89},{452,158}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0030</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1814},{446,150}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,97},{446,150}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong/0031</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1662},{448,150}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,97},{448,150}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong0-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1604,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6112b948e57ac5087eb9edb043dce71:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong0-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
