<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong/0000</key>
            <dict>
                <key>frame</key>
                <string>{{249,1278},{226,75}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{226,75}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0001</key>
            <dict>
                <key>frame</key>
                <string>{{249,1355},{226,75}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,49},{226,75}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0002</key>
            <dict>
                <key>frame</key>
                <string>{{87,1349},{226,79}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,45},{226,79}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0003</key>
            <dict>
                <key>frame</key>
                <string>{{168,1349},{226,79}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,45},{226,79}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0004</key>
            <dict>
                <key>frame</key>
                <string>{{234,1108},{228,87}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{228,87}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0005</key>
            <dict>
                <key>frame</key>
                <string>{{240,829},{232,101}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{232,101}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0006</key>
            <dict>
                <key>frame</key>
                <string>{{248,496},{244,113}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{244,113}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{246,121}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{246,121}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0008</key>
            <dict>
                <key>frame</key>
                <string>{{250,250},{244,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{244,123}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0009</key>
            <dict>
                <key>frame</key>
                <string>{{248,375},{244,119}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{244,119}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{230,85}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{230,85}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{230,87}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{230,87}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0012</key>
            <dict>
                <key>frame</key>
                <string>{{248,726},{238,101}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{238,101}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0013</key>
            <dict>
                <key>frame</key>
                <string>{{248,611},{244,113}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{244,113}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0014</key>
            <dict>
                <key>frame</key>
                <string>{{250,127},{246,121}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{246,121}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0015</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{248,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{248,123}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,119}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{250,119}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{232,85}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{232,85}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0018</key>
            <dict>
                <key>frame</key>
                <string>{{234,1019},{230,87}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{230,87}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{236,101}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{236,101}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{244,113}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{244,113}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{246,121}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{246,121}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{244,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{244,123}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{244,119}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{244,119}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{232,85}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{232,85}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0025</key>
            <dict>
                <key>frame</key>
                <string>{{236,932},{232,85}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{232,85}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{226,83}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,41},{226,83}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0027</key>
            <dict>
                <key>frame</key>
                <string>{{2,1349},{226,83}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,41},{226,83}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{228,79}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,45},{228,79}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0029</key>
            <dict>
                <key>frame</key>
                <string>{{232,1197},{228,79}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,45},{228,79}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0030</key>
            <dict>
                <key>frame</key>
                <string>{{405,1355},{224,75}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,49},{224,75}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong/0031</key>
            <dict>
                <key>frame</key>
                <string>{{326,1355},{224,77}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,47},{224,77}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong0.pvr.ccz</string>
            <key>size</key>
            <string>{504,1583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ac5eb17e2d2123e7e32a9bc85be6c5:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
