<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,148}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,143},{449,148}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump38.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{447,146}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,145},{447,146}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,2},{443,144}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,147},{443,144}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump40.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{445,146}}</string>
                <key>offset</key>
                <string>{-2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,145},{445,146}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1794,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b968b3d68c41f4a76bdfa1a629e33c5:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
