<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{882,286}}</string>
                <key>offset</key>
                <string>{-5,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,295},{882,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{892,296}}</string>
                <key>offset</key>
                <string>{-11,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,285},{892,296}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump30.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{890,290}}</string>
                <key>offset</key>
                <string>{-10,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,291},{890,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1740},{880,288}}</string>
                <key>offset</key>
                <string>{-4,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,293},{880,288}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump32.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,894},{884,290}}</string>
                <key>offset</key>
                <string>{-6,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,291},{884,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{890,286}}</string>
                <key>offset</key>
                <string>{-8,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,295},{890,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{890,286}}</string>
                <key>offset</key>
                <string>{-8,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,296},{890,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{886,286}}</string>
                <key>offset</key>
                <string>{-6,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,295},{886,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{884,286}}</string>
                <key>offset</key>
                <string>{-4,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,295},{884,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump4-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1357,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ecb95d020179403e80bc6dbaaacedb:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump4-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
