<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump/0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{886,286}}</string>
                <key>offset</key>
                <string>{-6,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,295},{886,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0034</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{886,286}}</string>
                <key>offset</key>
                <string>{-6,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,295},{886,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{884,286}}</string>
                <key>offset</key>
                <string>{-4,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,295},{884,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{884,288}}</string>
                <key>offset</key>
                <string>{-2,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,293},{884,288}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump3-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{890,1156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:923d0001a10099f82114d65e634109a4:4/4$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump3-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
