<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{892,286}}</string>
                <key>offset</key>
                <string>{-7,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,295},{892,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0003</key>
            <dict>
                <key>frame</key>
                <string>{{894,1164},{888,286}}</string>
                <key>offset</key>
                <string>{-6,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,295},{888,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0018</key>
            <dict>
                <key>frame</key>
                <string>{{894,1740},{498,302}}</string>
                <key>offset</key>
                <string>{208,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,280},{498,302}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0019</key>
            <dict>
                <key>frame</key>
                <string>{{894,1740},{498,302}}</string>
                <key>offset</key>
                <string>{208,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,280},{498,302}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,1744},{624,290}}</string>
                <key>offset</key>
                <string>{128,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,291},{624,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{890,286}}</string>
                <key>offset</key>
                <string>{-7,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,295},{890,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{890,286}}</string>
                <key>offset</key>
                <string>{-8,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,296},{890,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0027</key>
            <dict>
                <key>frame</key>
                <string>{{896,294},{882,286}}</string>
                <key>offset</key>
                <string>{-5,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,295},{882,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{892,296}}</string>
                <key>offset</key>
                <string>{-11,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,285},{892,296}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{890,290}}</string>
                <key>offset</key>
                <string>{-10,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,291},{890,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0030</key>
            <dict>
                <key>frame</key>
                <string>{{896,582},{878,288}}</string>
                <key>offset</key>
                <string>{-4,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,293},{878,288}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0031</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{884,290}}</string>
                <key>offset</key>
                <string>{-6,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,291},{884,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0032</key>
            <dict>
                <key>frame</key>
                <string>{{894,1452},{888,286}}</string>
                <key>offset</key>
                <string>{-8,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,295},{888,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{890,286}}</string>
                <key>offset</key>
                <string>{-8,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,296},{890,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump/0039</key>
            <dict>
                <key>frame</key>
                <string>{{894,872},{888,290}}</string>
                <key>offset</key>
                <string>{-4,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,291},{888,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump2-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1784,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:923d0001a10099f82114d65e634109a4:3/4$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump2-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
