<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong31.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{888,298}}</string>
                <key>offset</key>
                <string>{31,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,196},{888,298}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{894,300}}</string>
                <key>offset</key>
                <string>{28,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,194},{894,300}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong4-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1788,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e3e87ba30377675b2260b2592cce2a:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong4-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
