<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong/0000</key>
            <dict>
                <key>frame</key>
                <string>{{920,964},{898,298}}</string>
                <key>offset</key>
                <string>{26,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,198},{898,298}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{898,298}}</string>
                <key>offset</key>
                <string>{26,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,198},{898,298}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0002</key>
            <dict>
                <key>frame</key>
                <string>{{920,646},{898,316}}</string>
                <key>offset</key>
                <string>{29,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,180},{898,316}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0003</key>
            <dict>
                <key>frame</key>
                <string>{{926,328},{896,316}}</string>
                <key>offset</key>
                <string>{30,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,180},{896,316}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{906,346}}</string>
                <key>offset</key>
                <string>{24,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,153},{906,346}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{916,344}}</string>
                <key>offset</key>
                <string>{37,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,152},{916,344}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{916,344}}</string>
                <key>offset</key>
                <string>{37,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,152},{916,344}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{922,332}}</string>
                <key>offset</key>
                <string>{39,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,162},{922,332}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0026</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{896,324}}</string>
                <key>offset</key>
                <string>{29,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,170},{896,324}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0027</key>
            <dict>
                <key>frame</key>
                <string>{{908,1578},{894,324}}</string>
                <key>offset</key>
                <string>{30,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,170},{894,324}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0028</key>
            <dict>
                <key>frame</key>
                <string>{{910,1264},{906,312}}</string>
                <key>offset</key>
                <string>{25,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,181},{906,312}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{904,312}}</string>
                <key>offset</key>
                <string>{26,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,181},{904,312}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong2-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1824,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d966e69b7506d80001f16faee7cad2e7:3/4$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong2-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
