<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{230,85}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{230,85}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{230,87}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{230,87}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{238,101}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{238,101}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{244,113}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{244,113}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{246,121}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{246,121}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{248,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{248,123}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,119}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{250,119}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{232,85}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{232,85}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{230,87}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{230,87}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>monkeyWrong20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{236,101}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{236,101}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong2.pvr.ccz</string>
            <key>size</key>
            <string>{254,1044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6e58b6858c16078c50b219d1bd7f51e:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
