<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{443,144}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,147},{443,144}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{447,148}}</string>
                <key>offset</key>
                <string>{-6,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,143},{447,148}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{445,146}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,145},{445,146}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{441,144}}</string>
                <key>offset</key>
                <string>{-2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,147},{441,144}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{443,146}}</string>
                <key>offset</key>
                <string>{-3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,145},{443,146}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{445,144}}</string>
                <key>offset</key>
                <string>{-4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,147},{445,144}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{445,144}}</string>
                <key>offset</key>
                <string>{-4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,147},{445,144}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{443,144}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,147},{443,144}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
            <key>monkeyJump36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{443,144}}</string>
                <key>offset</key>
                <string>{-2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,147},{443,144}}</string>
                <key>sourceSize</key>
                <string>{525,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{451,1324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd4f7c4acc362c822bac555eb25a1ac8:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
