<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{896,296}}</string>
                <key>offset</key>
                <string>{-9,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,285},{896,296}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{894,290}}</string>
                <key>offset</key>
                <string>{-8,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,291},{894,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{884,288}}</string>
                <key>offset</key>
                <string>{-2,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,293},{884,288}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{888,290}}</string>
                <key>offset</key>
                <string>{-4,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,291},{888,290}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump5-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{900,1174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32d9f68d6a63182b3f6054ab581625f3:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump5-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
