<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong31.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{446,150}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,97},{446,150}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,150}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,97},{448,150}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{900,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec36b6cba74d24a6eb8493bf998694d5:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
