<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong/0030</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{888,298}}</string>
                <key>offset</key>
                <string>{31,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,196},{888,298}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
            <key>monkeyWrong/0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{892,300}}</string>
                <key>offset</key>
                <string>{29,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,194},{892,300}}</string>
                <key>sourceSize</key>
                <string>{1000,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong3-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1786,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d966e69b7506d80001f16faee7cad2e7:4/4$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong3-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
