<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyJump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1476},{896,286}}</string>
                <key>offset</key>
                <string>{-8,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,295},{896,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{896,286}}</string>
                <key>offset</key>
                <string>{-8,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,296},{896,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,384},{892,286}}</string>
                <key>offset</key>
                <string>{-7,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,295},{892,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,672},{888,286}}</string>
                <key>offset</key>
                <string>{-6,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,295},{888,286}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump5.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,960},{864,380}}</string>
                <key>offset</key>
                <string>{6,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,199},{864,380}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{922,380}}</string>
                <key>offset</key>
                <string>{-24,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,199},{922,380}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump7.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{944,522}}</string>
                <key>offset</key>
                <string>{-35,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,59},{944,522}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{948,522}}</string>
                <key>offset</key>
                <string>{-38,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,59},{948,522}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
            <key>monkeyJump9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{948,558}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{948,558}}</string>
                <key>sourceSize</key>
                <string>{1050,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyJump1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2010,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9217043f47139d5895e3bf78b4c190:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyJump1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
