<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyWrong21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{484,226}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{484,226}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,240}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{490,240}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{488,246}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{488,246}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{488,236}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{488,236}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{462,166}}</string>
                <key>offset</key>
                <string>{19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,81},{462,166}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{462,166}}</string>
                <key>offset</key>
                <string>{19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,81},{462,166}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong27.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1454},{448,162}}</string>
                <key>offset</key>
                <string>{14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,85},{448,162}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong28.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1454},{448,162}}</string>
                <key>offset</key>
                <string>{14,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,85},{448,162}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{454,158}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,89},{454,158}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
            <key>monkeyWrong30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{452,158}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,89},{452,158}}</string>
                <key>sourceSize</key>
                <string>{500,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>translateGameMonkeyWrong3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{494,1908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b68c6250726fde138dab637b7481dce2:1/1$</string>
            <key>textureFileName</key>
            <string>translateGameMonkeyWrong3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
