<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sCloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{987,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{987,134}}</string>
                <key>sourceSize</key>
                <string>{987,134}</string>
            </dict>
            <key>sCloud10.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1788},{224,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,42}}</string>
                <key>sourceSize</key>
                <string>{224,42}</string>
            </dict>
            <key>sCloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1602},{386,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,184}}</string>
                <key>sourceSize</key>
                <string>{386,184}</string>
            </dict>
            <key>sCloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1738},{428,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,85}}</string>
                <key>sourceSize</key>
                <string>{428,85}</string>
            </dict>
            <key>sCloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1831},{208,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,41}}</string>
                <key>sourceSize</key>
                <string>{208,41}</string>
            </dict>
            <key>sCloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1788},{208,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,41}}</string>
                <key>sourceSize</key>
                <string>{208,41}</string>
            </dict>
            <key>sCloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1602},{303,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,142}}</string>
                <key>sourceSize</key>
                <string>{303,142}</string>
            </dict>
            <key>sCloud7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{465,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,172}}</string>
                <key>sourceSize</key>
                <string>{465,172}</string>
            </dict>
            <key>sCloud8.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1825},{310,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,56}}</string>
                <key>sourceSize</key>
                <string>{310,56}</string>
            </dict>
            <key>sCloud9.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1832},{187,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,39}}</string>
                <key>sourceSize</key>
                <string>{187,39}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1598,1536}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,0},{1598,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameNavigationClouds-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1540,1912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b566da220b6a322b95e432428c8d0f2:1/1$</string>
            <key>textureFileName</key>
            <string>GameNavigationClouds-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
