<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeySomersault/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{258,150}}</string>
                <key>offset</key>
                <string>{10,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,316},{258,150}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0001</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{258,176}}</string>
                <key>offset</key>
                <string>{2,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,291},{258,176}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{286,168}}</string>
                <key>offset</key>
                <string>{-3,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,303},{286,168}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{280,144}}</string>
                <key>offset</key>
                <string>{5,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,324},{280,144}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{258,202}}</string>
                <key>offset</key>
                <string>{4,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,284},{258,202}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0005</key>
            <dict>
                <key>frame</key>
                <string>{{290,262},{194,194}}</string>
                <key>offset</key>
                <string>{0,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,286},{194,194}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0006</key>
            <dict>
                <key>frame</key>
                <string>{{262,732},{244,212}}</string>
                <key>offset</key>
                <string>{2,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,254},{244,212}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{236,188}}</string>
                <key>offset</key>
                <string>{4,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,278},{236,188}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,308}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,158},{194,308}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>monkeySomersault/0009</key>
            <dict>
                <key>frame</key>
                <string>{{284,458},{204,272}}</string>
                <key>offset</key>
                <string>{5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,194},{204,272}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkeySomersault-hd.pvr.ccz</string>
            <key>size</key>
            <string>{490,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ed1b9df6dfbe5876d5ddbd620dac1e:1/1$</string>
            <key>textureFileName</key>
            <string>monkeySomersault-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
