<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeySomersault/0000</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{129,76}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,157},{129,76}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0001</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{129,90}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,144},{129,90}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0002</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{143,84}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,152},{143,84}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0003</key>
            <dict>
                <key>frame</key>
                <string>{{1179,2},{141,72}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,162},{141,72}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0004</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{129,102}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,141},{129,102}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0005</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{97,98}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,142},{97,98}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,106}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,127},{123,106}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0007</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{119,94}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,139},{119,94}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0008</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{97,154}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,79},{97,154}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
            <key>monkeySomersault/0009</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{103,136}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,97},{103,136}}</string>
                <key>sourceSize</key>
                <string>{225,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkeySomersault.pvr.ccz</string>
            <key>size</key>
            <string>{1322,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca275bee939622f11a170f1b0e71661a:1/1$</string>
            <key>textureFileName</key>
            <string>monkeySomersault.pvr.ccz</string>
        </dict>
    </dict>
</plist>
