<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkeyFly/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{590,602}}</string>
                <key>offset</key>
                <string>{0,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,387},{590,602}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0001</key>
            <dict>
                <key>frame</key>
                <string>{{1498,624},{510,418}}</string>
                <key>offset</key>
                <string>{15,-230}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,521},{510,418}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0002</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1136},{452,464}}</string>
                <key>offset</key>
                <string>{-17,-208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,476},{452,464}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0003</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{534,588}}</string>
                <key>offset</key>
                <string>{142,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,346},{534,588}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0004</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{476,620}}</string>
                <key>offset</key>
                <string>{209,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,318},{476,620}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0005</key>
            <dict>
                <key>frame</key>
                <string>{{594,670},{484,660}}</string>
                <key>offset</key>
                <string>{167,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,277},{484,660}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0006</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{508,666}}</string>
                <key>offset</key>
                <string>{47,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,273},{508,666}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,784}}</string>
                <key>offset</key>
                <string>{53,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,163},{502,784}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0008</key>
            <dict>
                <key>frame</key>
                <string>{{1080,592},{416,558}}</string>
                <key>offset</key>
                <string>{-3,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,384},{416,558}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0009</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1152},{510,422}}</string>
                <key>offset</key>
                <string>{15,-231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,520},{510,422}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>monkeyFly/0010</key>
            <dict>
                <key>frame</key>
                <string>{{594,1332},{296,442}}</string>
                <key>offset</key>
                <string>{19,-218}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,497},{296,442}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkeyFly-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2046,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3749c3699b0d18f471d85550a61881da:1/1$</string>
            <key>textureFileName</key>
            <string>monkeyFly-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
