<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{609,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,53}}</string>
                <key>sourceSize</key>
                <string>{609,53}</string>
            </dict>
            <key>treeRoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,144}}</string>
                <key>sourceSize</key>
                <string>{1024,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveTreeRootAndStone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1028,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cd55b3d34b62217641f49298ed30681:1/1$</string>
            <key>textureFileName</key>
            <string>moveTreeRootAndStone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
