<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,366}}</string>
                <key>offset</key>
                <string>{0,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,304},{1024,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveTree-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1028,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbfbfdaaba251397c9ab3c0fd74b735a:1/1$</string>
            <key>textureFileName</key>
            <string>moveTree-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
