<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{304,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,27}}</string>
                <key>sourceSize</key>
                <string>{304,27}</string>
            </dict>
            <key>treeRoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,72}}</string>
                <key>sourceSize</key>
                <string>{512,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveTreeRootAndStone.pvr.ccz</string>
            <key>size</key>
            <string>{516,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ce6d50f54ca8d98c586d34d462ce80:1/1$</string>
            <key>textureFileName</key>
            <string>moveTreeRootAndStone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
