<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{1217,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1217,104}}</string>
                <key>sourceSize</key>
                <string>{1217,106}</string>
            </dict>
            <key>treeRoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,288}}</string>
                <key>sourceSize</key>
                <string>{2048,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moveTreeRootAndStone-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2052,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e16ee557a680956941600d84f68cac2a:1/1$</string>
            <key>textureFileName</key>
            <string>moveTreeRootAndStone-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
