<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldSketchRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{282,104}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,38},{282,104}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ldSketchRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,36},{282,106}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ldSketchRun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,108}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,34},{282,108}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ldSketchRun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,36},{282,106}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ldSketchRun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{282,104}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,38},{282,104}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ldSketchRun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,36},{282,106}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ldSketchRun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,108}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,34},{282,108}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
            <key>ldSketchRun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,36},{282,106}}</string>
                <key>sourceSize</key>
                <string>{450,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoadingTypeAnimation-hd.pvr.ccz</string>
            <key>size</key>
            <string>{854,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a301cf0c5930c2e663a19bcb469798a7:1/1$</string>
            <key>textureFileName</key>
            <string>LoadingTypeAnimation-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
