<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldSketchRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{332,214}}</string>
                <key>offset</key>
                <string>{74,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,109},{332,214}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>ldSketchRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{338,232}}</string>
                <key>offset</key>
                <string>{76,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,84},{338,232}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>ldSketchRun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{310,292}}</string>
                <key>offset</key>
                <string>{62,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,33},{310,292}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>ldSketchRun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{342,258}}</string>
                <key>offset</key>
                <string>{78,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,68},{342,258}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>ldSketchRun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{332,216}}</string>
                <key>offset</key>
                <string>{74,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,108},{332,216}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>ldSketchRun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{336,228}}</string>
                <key>offset</key>
                <string>{77,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,84},{336,228}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>ldSketchRun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{308,292}}</string>
                <key>offset</key>
                <string>{63,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,33},{308,292}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>ldSketchRun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,258}}</string>
                <key>offset</key>
                <string>{78,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,68},{342,258}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,296},{272,66}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,167},{272,66}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,340},{286,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,20}}</string>
                <key>sourceSize</key>
                <string>{286,20}</string>
            </dict>
            <key>progressBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,342},{286,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,20}}</string>
                <key>sourceSize</key>
                <string>{286,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoadingAnimation-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2024,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28ad28568d3502f961186557840df5c1:1/1$</string>
            <key>textureFileName</key>
            <string>LoadingAnimation-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
