<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldSketchRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{167,108}}</string>
                <key>offset</key>
                <string>{37,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,54},{167,108}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>ldSketchRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{169,116}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,42},{169,116}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>ldSketchRun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{155,146}}</string>
                <key>offset</key>
                <string>{31,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,17},{155,146}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>ldSketchRun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{171,130}}</string>
                <key>offset</key>
                <string>{39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,33},{171,130}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>ldSketchRun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{167,108}}</string>
                <key>offset</key>
                <string>{37,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,54},{167,108}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>ldSketchRun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{169,114}}</string>
                <key>offset</key>
                <string>{38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,42},{169,114}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>ldSketchRun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{155,146}}</string>
                <key>offset</key>
                <string>{31,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,17},{155,146}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>ldSketchRun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,130}}</string>
                <key>offset</key>
                <string>{39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,33},{171,130}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,720},{137,34}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,83},{137,34}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,147},{143,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,10}}</string>
                <key>sourceSize</key>
                <string>{143,10}</string>
            </dict>
            <key>progressBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{143,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,10}}</string>
                <key>sourceSize</key>
                <string>{143,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoadingAnimation-hd.pvr.ccz</string>
            <key>size</key>
            <string>{195,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33433d75c3079c53782217d2db122886:1/1$</string>
            <key>textureFileName</key>
            <string>LoadingAnimation-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
