<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldSketchRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{562,206}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,77},{562,206}}</string>
                <key>sourceSize</key>
                <string>{900,400}</string>
            </dict>
            <key>ldSketchRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{562,210}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,73},{562,210}}</string>
                <key>sourceSize</key>
                <string>{900,400}</string>
            </dict>
            <key>ldSketchRun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{562,214}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,69},{562,214}}</string>
                <key>sourceSize</key>
                <string>{900,400}</string>
            </dict>
            <key>ldSketchRun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{562,210}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,73},{562,210}}</string>
                <key>sourceSize</key>
                <string>{900,400}</string>
            </dict>
            <key>ldSketchRun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{562,206}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,77},{562,206}}</string>
                <key>sourceSize</key>
                <string>{900,400}</string>
            </dict>
            <key>ldSketchRun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{562,210}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,73},{562,210}}</string>
                <key>sourceSize</key>
                <string>{900,400}</string>
            </dict>
            <key>ldSketchRun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{562,214}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,69},{562,214}}</string>
                <key>sourceSize</key>
                <string>{900,400}</string>
            </dict>
            <key>ldSketchRun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{562,210}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,73},{562,210}}</string>
                <key>sourceSize</key>
                <string>{900,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoadingTypeAnimation-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1694,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:231bbc35937a140a4f1b7ff3c91ec2ba:1/1$</string>
            <key>textureFileName</key>
            <string>LoadingTypeAnimation-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
