<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldSketchRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{141,52}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{141,52}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>ldSketchRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{141,54}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>ldSketchRun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,54}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{141,54}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>ldSketchRun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{141,54}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>ldSketchRun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{141,52}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{141,52}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>ldSketchRun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{141,54}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>ldSketchRun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,54}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{141,54}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>ldSketchRun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{141,54}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoadingTypeAnimation.pvr.ccz</string>
            <key>size</key>
            <string>{431,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6471791032864f016e5f2b8ef92c94:1/1$</string>
            <key>textureFileName</key>
            <string>LoadingTypeAnimation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
