<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{117,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,16}}</string>
                <key>sourceSize</key>
                <string>{117,16}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{32,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,5}}</string>
                <key>sourceSize</key>
                <string>{32,5}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{37,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,11}}</string>
                <key>sourceSize</key>
                <string>{37,11}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,114},{51,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,10}}</string>
                <key>sourceSize</key>
                <string>{51,10}</string>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,110},{25,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,5}}</string>
                <key>sourceSize</key>
                <string>{25,5}</string>
            </dict>
            <key>cloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{25,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,5}}</string>
                <key>sourceSize</key>
                <string>{25,5}</string>
            </dict>
            <key>levelLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,15},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>levelUnLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,110},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>mountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,103},{67,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,21}}</string>
                <key>sourceSize</key>
                <string>{67,21}</string>
            </dict>
            <key>mountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,68},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>mountain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,67},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>mountain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,68},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>mountain5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>mountain6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,20},{65,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{65,46}</string>
            </dict>
            <key>mountain7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,20},{69,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,45}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>mountain8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,59}}</string>
                <key>sourceSize</key>
                <string>{88,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainNavigationMap_Accessory.pvr.ccz</string>
            <key>size</key>
            <string>{250,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c11038d8e969f1264d43dc05e929f451:1/1$</string>
            <key>textureFileName</key>
            <string>MainNavigationMap_Accessory.pvr.ccz</string>
        </dict>
    </dict>
</plist>
