<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>landWave/0000</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{158,180}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,131},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0001</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{158,180}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,131},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0002</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{158,180}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,131},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0003</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{156,184}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0004</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{156,184}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0005</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{156,184}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0006</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{154,188}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,131},{154,188}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0007</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{154,188}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,131},{154,188}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0008</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{154,188}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,131},{154,188}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0009</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{156,192}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,131},{156,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0010</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{156,192}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,131},{156,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0011</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{156,192}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,131},{156,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0012</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{156,162}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0013</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{156,162}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0014</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{156,162}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0015</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{158,166}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,131},{158,166}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0016</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{158,166}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,131},{158,166}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0017</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{158,166}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,131},{158,166}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0018</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{158,170}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,130},{158,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0019</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{158,170}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,130},{158,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0020</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{158,170}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,130},{158,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,174}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,131},{160,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,174}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,131},{160,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,174}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,131},{160,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0024</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{158,180}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,131},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0025</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{158,180}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,131},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0026</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{158,180}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,131},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0027</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{156,184}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0028</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{156,184}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0029</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{156,184}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{156,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0030</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{154,188}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,131},{154,188}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>landWave/0031</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{154,188}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,131},{154,188}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainNavigationMap_LandWave.pvr.ccz</string>
            <key>size</key>
            <string>{1434,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f00ae9fdac9119df9227081b87ef7c:1/1$</string>
            <key>textureFileName</key>
            <string>MainNavigationMap_LandWave.pvr.ccz</string>
        </dict>
    </dict>
</plist>
