<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,184},{466,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,64}}</string>
                <key>sourceSize</key>
                <string>{466,64}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,230},{127,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,18}}</string>
                <key>sourceSize</key>
                <string>{127,18}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,186},{146,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,42}}</string>
                <key>sourceSize</key>
                <string>{146,42}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{204,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,40}}</string>
                <key>sourceSize</key>
                <string>{204,40}</string>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,209},{99,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,20}}</string>
                <key>sourceSize</key>
                <string>{99,20}</string>
            </dict>
            <key>cloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,209},{99,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,19}}</string>
                <key>sourceSize</key>
                <string>{99,19}</string>
            </dict>
            <key>levelLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,182},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>levelUnLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,186},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>mountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,140},{266,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,82}}</string>
                <key>sourceSize</key>
                <string>{266,82}</string>
            </dict>
            <key>mountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{205,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,108}}</string>
                <key>sourceSize</key>
                <string>{205,108}</string>
            </dict>
            <key>mountain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{286,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,136}}</string>
                <key>sourceSize</key>
                <string>{286,136}</string>
            </dict>
            <key>mountain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,177}}</string>
                <key>sourceSize</key>
                <string>{239,177}</string>
            </dict>
            <key>mountain5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,2},{325,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,178}}</string>
                <key>sourceSize</key>
                <string>{325,178}</string>
            </dict>
            <key>mountain6.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{259,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,182}}</string>
                <key>sourceSize</key>
                <string>{259,182}</string>
            </dict>
            <key>mountain7.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{277,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,180}}</string>
                <key>sourceSize</key>
                <string>{277,180}</string>
            </dict>
            <key>mountain8.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{350,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,237}}</string>
                <key>sourceSize</key>
                <string>{350,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainNavigationMap_Accessory-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1840,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:784db278217713ff7131483bf4e1bf3e:1/1$</string>
            <key>textureFileName</key>
            <string>MainNavigationMap_Accessory-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
