<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>waterWave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,128},{323,119}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{323,119}}</string>
                <key>sourceSize</key>
                <string>{329,119}</string>
            </dict>
            <key>waterWave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{333,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,124}}</string>
                <key>sourceSize</key>
                <string>{333,124}</string>
            </dict>
            <key>waterWave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{338,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,128}}</string>
                <key>sourceSize</key>
                <string>{338,128}</string>
            </dict>
            <key>waterWave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,133}}</string>
                <key>sourceSize</key>
                <string>{338,133}</string>
            </dict>
            <key>waterWave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,132},{316,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,115}}</string>
                <key>sourceSize</key>
                <string>{316,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainNavigationMap_WaterWave.pvr.ccz</string>
            <key>size</key>
            <string>{1017,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f8d99ae6295c9a64c03a163e909749c:1/1$</string>
            <key>textureFileName</key>
            <string>MainNavigationMap_WaterWave.pvr.ccz</string>
        </dict>
    </dict>
</plist>
