<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{233,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,32}}</string>
                <key>sourceSize</key>
                <string>{233,32}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,116},{64,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,9}}</string>
                <key>sourceSize</key>
                <string>{64,9}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,95},{73,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,21}}</string>
                <key>sourceSize</key>
                <string>{73,21}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,94},{102,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,20}}</string>
                <key>sourceSize</key>
                <string>{102,20}</string>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,14},{50,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>cloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{50,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>levelLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,95},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>levelUnLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,95},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>mountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,72},{133,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,41}}</string>
                <key>sourceSize</key>
                <string>{133,41}</string>
            </dict>
            <key>mountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>mountain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{143,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,68}}</string>
                <key>sourceSize</key>
                <string>{143,68}</string>
            </dict>
            <key>mountain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,36},{120,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,89}}</string>
                <key>sourceSize</key>
                <string>{120,89}</string>
            </dict>
            <key>mountain5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,36},{163,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,89}}</string>
                <key>sourceSize</key>
                <string>{163,89}</string>
            </dict>
            <key>mountain6.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{130,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,91}}</string>
                <key>sourceSize</key>
                <string>{130,91}</string>
            </dict>
            <key>mountain7.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{139,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,90}}</string>
                <key>sourceSize</key>
                <string>{139,90}</string>
            </dict>
            <key>mountain8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,119}}</string>
                <key>sourceSize</key>
                <string>{175,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainNavigationMap_Accessory-hd.pvr.ccz</string>
            <key>size</key>
            <string>{940,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eed840acbf8874ad71056734a95e7067:1/1$</string>
            <key>textureFileName</key>
            <string>MainNavigationMap_Accessory-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
