<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>landWave/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,358}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,263},{316,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,358}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,263},{316,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,358}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,263},{316,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0003</key>
            <dict>
                <key>frame</key>
                <string>{{388,312},{308,366}}</string>
                <key>offset</key>
                <string>{17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,262},{308,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0004</key>
            <dict>
                <key>frame</key>
                <string>{{388,312},{308,366}}</string>
                <key>offset</key>
                <string>{17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,262},{308,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0005</key>
            <dict>
                <key>frame</key>
                <string>{{388,312},{308,366}}</string>
                <key>offset</key>
                <string>{17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,262},{308,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0006</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{308,374}}</string>
                <key>offset</key>
                <string>{16,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,263},{308,374}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0007</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{308,374}}</string>
                <key>offset</key>
                <string>{16,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,263},{308,374}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0008</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{308,374}}</string>
                <key>offset</key>
                <string>{16,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,263},{308,374}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{310,384}}</string>
                <key>offset</key>
                <string>{15,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,262},{310,384}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{310,384}}</string>
                <key>offset</key>
                <string>{15,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,262},{310,384}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{310,384}}</string>
                <key>offset</key>
                <string>{15,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,262},{310,384}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0012</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{312,322}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,262},{312,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0013</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{312,322}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,262},{312,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0014</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{312,322}}</string>
                <key>offset</key>
                <string>{16,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,262},{312,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0015</key>
            <dict>
                <key>frame</key>
                <string>{{692,680},{314,330}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,263},{314,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0016</key>
            <dict>
                <key>frame</key>
                <string>{{692,680},{314,330}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,263},{314,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0017</key>
            <dict>
                <key>frame</key>
                <string>{{692,680},{314,330}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,263},{314,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0018</key>
            <dict>
                <key>frame</key>
                <string>{{352,680},{316,338}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,262},{316,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0019</key>
            <dict>
                <key>frame</key>
                <string>{{352,680},{316,338}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,262},{316,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0020</key>
            <dict>
                <key>frame</key>
                <string>{{352,680},{316,338}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,262},{316,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{316,348}}</string>
                <key>offset</key>
                <string>{15,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,262},{316,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{316,348}}</string>
                <key>offset</key>
                <string>{15,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,262},{316,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{316,348}}</string>
                <key>offset</key>
                <string>{15,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,262},{316,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,358}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,263},{316,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,358}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,263},{316,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,358}}</string>
                <key>offset</key>
                <string>{17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,263},{316,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0027</key>
            <dict>
                <key>frame</key>
                <string>{{388,312},{308,366}}</string>
                <key>offset</key>
                <string>{17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,262},{308,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0028</key>
            <dict>
                <key>frame</key>
                <string>{{388,312},{308,366}}</string>
                <key>offset</key>
                <string>{17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,262},{308,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0029</key>
            <dict>
                <key>frame</key>
                <string>{{388,312},{308,366}}</string>
                <key>offset</key>
                <string>{17,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,262},{308,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0030</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{308,374}}</string>
                <key>offset</key>
                <string>{16,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,263},{308,374}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>landWave/0031</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{308,374}}</string>
                <key>offset</key>
                <string>{16,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,263},{308,374}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainNavigationMap_LandWave-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1012,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:928f61fbc828ca3263920af66f713af0:1/1$</string>
            <key>textureFileName</key>
            <string>MainNavigationMap_LandWave-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
