<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>highScoreBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,626},{355,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,84}}</string>
                <key>sourceSize</key>
                <string>{355,84}</string>
            </dict>
            <key>juan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,993}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,993}}</string>
                <key>sourceSize</key>
                <string>{205,993}</string>
            </dict>
            <key>newHighScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,2},{622,336}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,93},{622,336}}</string>
                <key>sourceSize</key>
                <string>{838,494}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,814},{188,186}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{188,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>star_unfill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,626},{188,186}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{188,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{1248,820}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1248,820}}</string>
                <key>sourceSize</key>
                <string>{1248,820}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScore-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1797,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcd6ce556eaaecd33a8b949da8fdba04:1/1$</string>
            <key>textureFileName</key>
            <string>gameScore-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
