<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>highScoreBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,315},{178,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,42}}</string>
                <key>sourceSize</key>
                <string>{178,42}</string>
            </dict>
            <key>juan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,497}}</string>
                <key>sourceSize</key>
                <string>{103,497}</string>
            </dict>
            <key>newHighScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{311,169}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,46},{311,169}}</string>
                <key>sourceSize</key>
                <string>{419,247}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,411},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>star_unfill.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,315},{94,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{624,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,410}}</string>
                <key>sourceSize</key>
                <string>{624,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScore-hd.pvr.ccz</string>
            <key>size</key>
            <string>{904,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee396b686ce0c4d158fd8201104b7fd3:1/1$</string>
            <key>textureFileName</key>
            <string>gameScore-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
