<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguoshan/0000</key>
            <dict>
                <key>frame</key>
                <string>{{197,236},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0002</key>
            <dict>
                <key>frame</key>
                <string>{{197,392},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0004</key>
            <dict>
                <key>frame</key>
                <string>{{392,197},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0005</key>
            <dict>
                <key>frame</key>
                <string>{{197,119},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0007</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0008</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
            <key>huaguoshan/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,115}}</string>
                <key>sourceSize</key>
                <string>{197,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeScene_Huaguoshan-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1629f3e12e6d547c295cbd351092efb:1/1$</string>
            <key>textureFileName</key>
            <string>typeScene_Huaguoshan-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
