<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pig/0000</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0001</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0002</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0003</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0004</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0005</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0006</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0007</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0008</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0009</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0010</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0014</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0015</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0016</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0020</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0021</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0022</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0023</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0024</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0025</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0026</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0027</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0028</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>pig/0029</key>
            <dict>
                <key>frame</key>
                <string>{{129,140},{125,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,136}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeScene_Pig-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9eaa1dcaa628b0436a810d6eabfdd11:1/1$</string>
            <key>textureFileName</key>
            <string>typeScene_Pig-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
