<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{690,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,336}}</string>
                <key>sourceSize</key>
                <string>{690,336}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{133,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,87}}</string>
                <key>sourceSize</key>
                <string>{133,87}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{632,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,273}}</string>
                <key>sourceSize</key>
                <string>{632,273}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,195},{400,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,118}}</string>
                <key>sourceSize</key>
                <string>{400,118}</string>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{234,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,139}}</string>
                <key>sourceSize</key>
                <string>{234,141}</string>
            </dict>
            <key>huangfengling.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,141},{147,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,110}}</string>
                <key>sourceSize</key>
                <string>{147,112}</string>
            </dict>
            <key>monsterBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,972},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>monsterHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,135},{71,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,58}}</string>
                <key>sourceSize</key>
                <string>{71,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeScene_GameNode-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9f14350697a9a3d7b6331af4df46fb3:1/1$</string>
            <key>textureFileName</key>
            <string>typeScene_GameNode-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
