<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{198,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,97}}</string>
                <key>sourceSize</key>
                <string>{198,97}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,286},{130,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,70}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,475}}</string>
                <key>sourceSize</key>
                <string>{282,475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeScene_Tower-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{479,385}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca06b8adcc3538eb991cdfb6e7a6058a:1/1$</string>
            <key>textureFileName</key>
            <string>typeScene_Tower-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
