<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1379,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1379,672}}</string>
                <key>sourceSize</key>
                <string>{1379,672}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,0},{266,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,173}}</string>
                <key>sourceSize</key>
                <string>{266,173}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{1264,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1264,545}}</string>
                <key>sourceSize</key>
                <string>{1264,545}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,386},{800,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,236}}</string>
                <key>sourceSize</key>
                <string>{800,236}</string>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,0},{468,280}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,280}}</string>
                <key>sourceSize</key>
                <string>{468,282}</string>
            </dict>
            <key>huangfengling.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,282},{293,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{293,220}}</string>
                <key>sourceSize</key>
                <string>{293,224}</string>
            </dict>
            <key>monsterBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1940},{118,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{118,80}</string>
            </dict>
            <key>monsterHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,268},{142,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,116}}</string>
                <key>sourceSize</key>
                <string>{142,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeScene_GameNode-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2f6f52821e089e93f379bad7e4977d1:1/1$</string>
            <key>textureFileName</key>
            <string>typeScene_GameNode-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
