<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaguoshan/0000</key>
            <dict>
                <key>frame</key>
                <string>{{394,62},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0001</key>
            <dict>
                <key>frame</key>
                <string>{{296,62},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0002</key>
            <dict>
                <key>frame</key>
                <string>{{198,62},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0003</key>
            <dict>
                <key>frame</key>
                <string>{{100,62},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0005</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0006</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0007</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0008</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>huaguoshan/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,58}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeScene_Huaguoshan.pvr.ccz</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2825c3be68a37ff4037228144df0781:1/1$</string>
            <key>textureFileName</key>
            <string>typeScene_Huaguoshan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
