<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganoderma.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1535},{131,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,144}}</string>
                <key>sourceSize</key>
                <string>{131,144}</string>
            </dict>
            <key>mountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1729,1319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1729,1319}}</string>
                <key>sourceSize</key>
                <string>{1729,1319}</string>
            </dict>
            <key>mountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{670,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,434}}</string>
                <key>sourceSize</key>
                <string>{670,434}</string>
            </dict>
            <key>mountain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1323},{210,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,178}}</string>
                <key>sourceSize</key>
                <string>{210,178}</string>
            </dict>
            <key>trees.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1535},{144,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,187}}</string>
                <key>sourceSize</key>
                <string>{144,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>typeScene_Mountains-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1733,1759}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30144519cd8224248f036ea27686cca8:1/1$</string>
            <key>textureFileName</key>
            <string>typeScene_Mountains-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
